page-login {

  .big_wraper{    
        background-color:#666;
        color: whitesmoke;
    }

  .wrapper{
      margin-top: 50%;
     }

  .login{
    background-color: #333;
    opacity: 0.5;
    border-radius: 40px;
    margin-bottom: -1.5%;
    color: white;
    }

  .login1{
      margin-top: 2%;
      background-color: #333;
      opacity: 0.5;
      border-radius: 40px;
      color: white;
     }

     .btn{
         background-color:#AB8E21;
         margin-top: 4%;
     }

     h1{
         margin-left: 2%;
     }

}
