page-register {
.App{
    background-color: black;
}
    .button{
        //    margin-right: 70%;
        //    margin-left: 10%;
       }
    .App{
        background: black;
    }
  
 .back{
     background-color: black;
 }
 .ion-item{ background-color: black;
color: yellow

 
}
ion-title{
text-align: center;
text-shadow: 1%;
}
}