page-track-upload {
    .big_wrapper{
        background-color: black;
        color: white;
    }

    .wrapper{
        margin-top: 30%;
        background-color: black;
    }

    .details{
        background-color: black;
        color: white;
    }

    .button{
        background-color: #AB8E21;
    }

}
