page-profile {
    .profile1{
        background-color: #333;
        color: white;
 
        img{
            height: 27%;
            width: 30%;
        }
 
        h2{
            font-size: 1.5em;
        }
    }
 
    .big_wrap{
        background-size: cover;
        background-color: black;
        color: white;
    }
 
    .wrap{
        background-size: cover;
        background-color: black;
    }
 
    .btn{
        background-color: black;
        color: white;
 
        .button{
            background-color: #AB8E21;
        }
    }
 
    .track{
        background-color: black;
        color: white;
    }
       .star{
           margin-top: -4%;
       }
 
       li{
            float: left;
            display: block;
            padding: 2%;
            border: 1px solid white;
        }
}
