<ion-header>
  <ion-navbar>
    <ion-title>
      
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <button class="button" ion-button full round color="light" (click)="Register()" >Register</button>
  <button ion-button full round color="light" (click)="login()">Login</button>
 

                                                                                                              
  <button ion-button full round color="light"(click)="nextPage()">Catergory</button><br>
  <input type="file" (change)="upload($event)" accept="audio/mp3, audio/wav, audio/ogg"><br><br>
  <button (click)="splashPage()" ion-button full>Splash</button>
  <ion-list *ngFor="let i of song">
    <audio *ngIf="file !== null" controls>
      <source src="{{i}}" type="audio/mpeg">
    </audio>
  </ion-list>
<button (click)="homePage('StartPage')" ion-button>homepage</button>

</ion-content>

